In [2]:
import pandas as pd
import numpy as np

In [ ]:
# 读取数据
names = ['mobile','action_time','touchpoint_id','action_rank']
df_valid = pd.read_csv('tp_analysis_base.csv',sep = '\t', names = names)
df_valid['mobile'] = df_valid['mobile'].astype(str)

tid_cat = pd.read_csv('data/id_mapping.csv')

In [2]:
# 读取城市和省份数据 (获取每个手机号码意向所在的经销商，根据经销商的位置判断省份和城市)
df_loc = pd.read_csv('id_loc_mapping.csv').drop('Unnamed: 0',axis=1)

In [7]:
# 从公开地图网站获取城市所在经纬度
locs = pd.read_csv('locations.csv',header=None)
locs.columns=['area','city_name','longitude','latitude']
#locs.loc[locs.city_name.apply(lambda x:'亳' in x)]

In [10]:
locs.head(2)

  area city_name  longitude  latitude
0  广东省        广州  113.26436  23.12908
1  广东省        越秀  113.26680  23.12901

In [150]:
def get_region(ser):
    p = ser['area']
    c = ser['city_name']
    
    if p == '西藏自治区':
        p ='西藏藏族自治区'
    
    if '地区' in c:
        c = c[:-2]
    elif '自治' not in c and len(c)>1:
        c = c[:-1]
    temp = locs[(locs.area==p)&(locs.city_name==c)]
    if temp.shape[0]>0:
        lat = float(temp['latitude'].iloc[0])
        if lat>33:
            return '北方'
        else:
            return '南方'
    
    if p in ['北京市','天津市','河北省','山西省','山东省','黑龙江省','吉林省','辽宁省','内蒙古自治区',
            '新疆维吾尔自治区','青海省','陕西省','甘肃省']:
        return '北方'
    elif p in ['浙江省','上海市','湖北省','湖南省','江西省','福建省','贵州省','重庆市','广西壮族自治区','广东省',
                      '海南省','四川省','云南省']:
        return '南方'
    #云南大部,四川东部
    elif c in ['亳州']:
        return '北方'
    elif c in ['池州','黄山']:
        return '南方'
    else:
        return '其他'

In [151]:
df_city = df_loc.groupby(['area','city_name']).count().reset_index()[['area','city_name']]
df_city['region'] = df_city.apply(get_region,axis=1)
df_city.region.value_counts()

南方    176
北方    152
Name: region, dtype: int64

In [171]:
mapping = df_loc.merge(df_city,how='left',on=['area','city_name'])[['phone','region']].rename(columns={'phone':'mobile'})
mapping['mobile'] = mapping.mobile.astype(str)
df_valid['mobile'] = df_valid.mobile.astype(str)
df_valid = df_valid.merge(mapping,how='left',on='mobile')

In [153]:
mapping.groupby('region').count()

         mobile
region
北方       830685
南方      1421469

##### 2.1.1 南北方用户触点特征行为（成交前 VS 成交后）

In [154]:
yixiang_time = df_valid.loc[df_valid.touchpoint_id=='004000000000_tp'].groupby('mobile').max()['action_time']\
.to_frame().rename(columns={'action_time':'yixiang_time'})

In [155]:
chengjiao_time = df_valid.loc[df_valid.touchpoint_id=='011000000000_tp'].groupby('mobile').max()['action_time']\
.to_frame().rename(columns={'action_time':'chengjiao_time'})

In [174]:
yixiang_time = yixiang_time.reset_index()
yixiang_time['mobile'] = yixiang_time.mobile.astype(str)
chengjiao_time = chengjiao_time.reset_index()
chengjiao_time['mobile'] = chengjiao_time.mobile.astype(str)

In [175]:
df_valid = df_valid.merge(yixiang_time,how='left',on='mobile').merge(chengjiao_time,how='left',on='mobile')

In [179]:
temp = df_valid.loc[df_valid.action_time>df_valid.chengjiao_time_y]
temp = temp.loc[temp.touchpoint_id == '004000000000_tp']

In [ ]:
tid_info = tid_cat[['touchpoint_id','touchpoint_level','level_1','level_2','level_3','level_4']]
df_valid = pd.merge(df_valid, tid_info, how='left', on='touchpoint_id').reset_index().drop('index',axis=1)

In [158]:
df_after_yixiang = df_valid.loc[df_valid.action_time>df_valid.yixiang_time]
df_after_yixiang = df_after_yixiang.loc[(df_after_yixiang.action_time<df_after_yixiang.chengjiao_time)|(pd.isna(df_after_yixiang.chengjiao_time))]

In [159]:
regions = pd.Series(['南方','北方']).to_frame().rename(columns={0:'region'})
tids = tid_cat[['touchpoint_id','touchpoint_level']]
regions['key']=1
tids['key']=1
conversion_rates=tids.merge(regions,on='key',how='left').drop('key',axis=1)
conversion_rates.head()

/app/anaconda3/envs/python37_smcsandbox/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

     touchpoint_id  touchpoint_level region
0  003001003008_tp                 4     南方
1  003001003008_tp                 4     北方
2  003001003009_tp                 4     南方
3  003001003009_tp                 4     北方
4  003001003010_tp                 4     南方

In [166]:
mapping['mobile'] = mapping.mobile.astype(float)

In [167]:
temp = yixiang_time.merge(mapping,how='left',on='mobile').groupby(['mobile','region']).count().reset_index().groupby('region')\
.count()[['mobile']].reset_index().rename(columns={'mobile':'yixiang_uv'})

In [168]:
conversion_rates = conversion_rates.merge(temp,how='left',on='region')

In [ ]:
cd_level_1 = df_after_yixiang.groupby(['mobile','level_1','region'])\
.count().reset_index().groupby(['level_1','region']).count().mobile

cd_level_2 = df_after_yixiang.groupby(['mobile','level_2','region'])\
.count().reset_index().groupby(['level_2','region']).count().mobile

cd_level_3 = df_after_yixiang.groupby(['mobile','level_3','region'])\
.count().reset_index().groupby(['level_3','region']).count().mobile

cd_level_4 = df_after_yixiang.groupby(['mobile','level_4','region'])\
.count().reset_index().groupby(['level_4','region']).count().mobile

cd_uv = cd_level_1.\
append(cd_level_2).append(cd_level_3)\
.append(cd_level_4)

cd_uv = cd_uv.loc[cd_uv.index!='N'].reset_index()\
.rename(columns={'level_1':'touchpoint_id','mobile':'yixianghou_touchpoint_uv'})
conversion_rates = conversion_rates.merge(cd_uv,how='left',on=['touchpoint_id','region'])

In [ ]:
df_after_chengjiao = df_valid.loc[df_valid.action_time>df_valid.chengjiao_time]

In [ ]:
temp = chengjiao_time.merge(mapping,how='left',on='mobile').groupby(['mobile','region']).count().reset_index().groupby('region')\
.count()[['mobile']].reset_index().rename(columns={'mobile':'chengjiao_uv'})

conversion_rates = conversion_rates.merge(temp,how='left',on='region')

In [ ]:
cd_level_1 = df_after_chengjiao.groupby(['mobile','level_1','region'])\
.count().reset_index().groupby(['level_1','region']).count().mobile

cd_level_2 = df_after_chengjiao.groupby(['mobile','level_2','region'])\
.count().reset_index().groupby(['level_2','region']).count().mobile

cd_level_3 = df_after_chengjiao.groupby(['mobile','level_3','region'])\
.count().reset_index().groupby(['level_3','region']).count().mobile

cd_level_4 = df_after_chengjiao.groupby(['mobile','level_4','region'])\
.count().reset_index().groupby(['level_4','region']).count().mobile

cd_uv = cd_level_1.\
append(cd_level_2).append(cd_level_3)\
.append(cd_level_4)

cd_uv = cd_uv.loc[cd_uv.index!='N'].reset_index()\
.rename(columns={'level_1':'touchpoint_id','mobile':'chengjiaohou_touchpoint_uv'})
conversion_rates = conversion_rates.merge(cd_uv,how='left',on=['touchpoint_id','region'])

In [ ]:
conversion_rates['意向后成交前覆盖率']=conversion_rates.yixianghou_touchpoint_uv/conversion_rates.yixiang_uv

In [ ]:
conversion_rates['成交后覆盖率']=conversion_rates.chengjiaohou_touchpoint_uv/conversion_rates.chengjiao_uv

In [ ]:
conversion_rates = conversion_rates.rename(columns={'region':'南北方','yixiang_uv':'意向后成交前基数',
                                                   'chengjiao_uv':'成交后基数',
                                                   'yixianghou_touchpoint_uv':'意向后成交前uv',
                                                   'chengjiaohou_touchpoint_uv':'成交后uv'})

In [ ]:
conversion_rates.to_csv('南北方覆盖率.csv')

#### 2.1.2 南北方用户购车颜色

In [11]:
# cdm_dim_vehicle_info关联marketing_modeling.dw_deliver_behavior获取电话号码，车系内外饰颜色的标签
vin_info = pd.read_csv('vin_info.csv')

In [13]:
vin_info.head(2)

   Unnamed: 0                vin       mobile neishi waishi series_name
0           0  LNPA3GBC08G025556  15828282030    NaN  维多利亚蓝         MG3
1           1  LNPA3GBC09G032251  13565749519    NaN   威尔士金         MG3

In [14]:
vin_info.neishi.unique()

array([nan, '深', 'dark', '浅', '皮深', '棕黑', 'beige', '伦敦黑', '蓝白', '黑色',
       '花色', '骑士黑', '琥珀棕', '米色', '马鞍黑', '巴塞红', '黑内', '黑', '红黑', '红皮深',
       '炽烈黄', '红黑竞速', '赛道红', '燃动红', '黑+红缝线', '利物浦红', '勇士棕', '橙黑',
       'redblack', 'Dark', '摩纳哥蓝', '弗拉明戈红'], dtype=object)

In [ ]:
black=['深','dark','皮深','伦敦黑','黑色','骑士黑','马鞍黑','黑内','黑','Dark']
redblack=['红黑','红皮深','红黑竞速','黑+红缝线','redblack']
red=['巴塞红','赛道红','燃动红','利物浦红','弗拉明戈红']
brown=['琥珀棕','勇士棕']
beige=['beige','米色']
def get_color(c):
    if c in black:
        return '黑色'
    elif c in redblack:
        return '红黑'
    elif c in red:
        return '红色'
    elif c in brown:
        return '棕色'
    elif c in beige:
        return '米色'
    else:
        return c

In [ ]:
vin_info = vin_info.merge(mapping,how='left',on='mobile')

In [ ]:
vin_info['region']=vin_info.region.fillna('未知')

In [ ]:
vin_info['interior']=vin_info.neishi.apply(get_color)
vin_info['interior'] = vin_info.interior.fillna('未知')

In [15]:
vin_info.waishi.unique()

array(['维多利亚蓝', '威尔士金', '泰晤士绿', '苏格兰红', '骑士黑', '勋章银', '新骑士黑', '皇家蓝', '铂金',
       '大不列颠绿', '玫瑰紫', '古堡灰', '新约克白', '月星白', '温莎紫', '伯明翰橙', '英伦红', '雾都灰',
       '苏格兰银', '耀石黑', '泰晤士青', '珠光白', '哥本哈根蓝', '氧化铁灰', '约克棕', '宝石红', '电光橙',
       '香槟金', '雪山白', '冲浪蓝', '魅影红', '幻彩灰', '曜石黑', '玛雅棕', '伯明翰橙黑顶', '核能黄',
       '赛博灰', '赤焰红', '圣峰白', '曼城红', '圣峰白黑顶', '湖心蓝', '碳素灰', '名爵红', '赛道绿',
       '极速红', '激光蓝', '圣莫里茨蓝', nan, '都铎黄', '泰晤士蓝', '都铎黄黑顶', '泰晤士蓝新白顶',
       '曼城红白顶', '泰晤士蓝白顶', '宝石红新白顶', '泰晤士蓝黑顶', '曼城红黑顶', '冰晶蓝', '约克白',
       '光速银', '月星白黑顶', '彩蜥绿', '玫瑰红', '魔法绿', '比利金', '激情红', '泰坦灰', '瑞丽黄',
       '激光红', '多弗蓝', '矩阵黑', '铀核金', '温莎白', '都铎黄白顶', '燕尾灰'], dtype=object)

In [ ]:
def get_ext(c):
    if pd.isna(c):
        return '未知'
    elif c[-1]=='顶':
        if c[-3]=='新':
            return c[-4]+'色'+c[-2:]
        return c[-3]+'色'+c[-2:]
    else:
        return c[-1]+'色'

In [ ]:
vin_info['exterior'] = vin_info.waishi.apply(get_ext)

In [ ]:
vin_info.series_name.unique()

In [ ]:
temp = vin_info.loc[vin_info.series_name=='MG6']

In [ ]:
res = temp.groupby(['region','exterior']).count()['mobile'].reset_index().pivot_table(index='exterior',
                                                                                    columns='region',
                                                                                    values='mobile',aggfunc=np.sum)
res = res.fillna(0)

In [ ]:
res['n']=res['北方']/sum(res['北方'])
res['s']=res['南方']/sum(res['南方'])
res['u']=res['未知']/sum(res['未知'])

In [ ]:
res = vin_info.groupby(['region','series_name']).count()['mobile'].reset_index().pivot_table(index='series_name',
                                                                                    columns='region',
                                                                                    values='mobile',aggfunc=np.sum)
res = res.fillna(0)

In [ ]:
res['n']=res['北方']/sum(res['北方'])
res['s']=res['南方']/sum(res['南方'])
res['u']=res['未知']/sum(res['未知'])

In [ ]:
vin_info.groupby(['region','series_name','interior','exterior']).count()[['vin']].reset_index().rename(columns={'vin':'cnt'}).to_csv('yanse.csv')

##### 2.2.1 名爵不同车型意向后试驾率 vs 试驾后成交率对比

In [ ]:
'''
create table marketing_modeling.tmp_rw_series_matrix as
select 
    series_id,
    count(phone) as oppor_vol,
    sum(oppor_trial_same) as oppor_trial_same,
    count(oppor_trial_same) as oppor_trial_same_cnt,
    sum(oppor_trial_diff) as oppor_trial_diff,
    count(oppor_trial_diff) as oppor_trial_diff_cnt,
    sum(trial_deal_same) as trial_deal_same,
    count(trial_deal_same) as trial_deal_same_cnt,
    sum(trial_deal_diff) as trial_deal_diff,
    count(trial_deal_diff) as trial_deal_diff_cnt
from
(
    select 
        a.phone,
        a.series_id,
        max(case when a.series_id = b.series_id and a.behavior_time <= b.behavior_time then 1 else 0 end) as oppor_trial_same,
        max(case when a.series_id <> b.series_id and b.series_id is not null and a.behavior_time <= b.behavior_time then 1 else 0 end) as oppor_trial_diff,
        max(case when b.series_id = c.series_id and a.behavior_time <= b.behavior_time then 1 else 0 end) as trial_deal_same,
        max(case when b.series_id <> c.series_id and c.series_id is not null and a.behavior_time <= b.behavior_time then 1 else 0 end) as trial_deal_diff
    from 
    (
        select 
            phone, series_id, behavior_time
        from marketing_modeling.dw_oppor_behavior
        where pt between 20210101 and 20210531
        and brand_id = 101
    ) a
    left join
    (
        select phone, series_id, behavior_time
        from marketing_modeling.dw_trial_behavior
        where brand_id = 101
    ) b
    on a.phone = b.phone
    left join
    (
        select phone, series_id, behavior_time
        from marketing_modeling.dw_deliver_behavior
        where brand_id = 101
    ) c
    on b.phone = c.phone
    group by a.phone, a.series_id
) a
group by series_id;
'''

##### 2.2.2 成交车系交叉流转

In [ ]:
'''
create table marketing_modeling.tmp_rw_series_transition
as
select 
    a.series_id as oppor_series,
    b.series_id as deliver_series,
    count(*) as vol
from 
(
    select 
        phone, series_id, behavior_time
    from marketing_modeling.dw_oppor_behavior
    where pt between 20210101 and 20210630
    and brand_id = 121
) a
left join
(
    select phone, series_id, behavior_time
    from marketing_modeling.dw_deliver_behavior
) b
on a.phone = b.phone
where b.behavior_time >= a.behavior_time
group by a.series_id, b.series_id
'''

##### 2.2.3 不同车系用户成交前触点覆盖度

In [ ]:
'''
select 
    c.level_1_tp_id,
    count(distinct b.mobile) as tp_cnt
from 
(
    select * 
    from marketing_modeling.dw_deliver_behavior
    where behavior_time between '2021-01-01' and '2021-06-30'
    and series_id = '923'
) a
left join marketing_modeling.tmp_tp_convert_base b
on a.phone = b.mobile and a.behavior_time >= b.action_time
left join marketing_modeling.cdm_touchpoints_id_system c
on b.touchpoint_id = c.touchpoint_id
'''