In [64]:
import re
import datetime
from pychattr.channel_attribution import MarkovModel
import pandas as pd
import numpy as np
from sklearn.metrics import classification_report

In [3]:
# pd.set_option('display.max_colwidth', None)
# import findspark
# findspark.init("/opt/cloudera/parcels/CDH-6.3.1-1.cdh6.3.1.p0.1470567/lib/spark","/usr/bin/python2.7")

# import os
# os.environ["JAVA_HOME"] = "/usr/java/jdk1.8.0_181-cloudera"

# from pyspark.sql import functions as F
# from pyspark import SparkContext
# from pyspark.sql import SparkSession,HiveContext,Window
# from pyspark.sql.types import IntegerType, FloatType, DoubleType, ArrayType, StringType, DecimalType
# from pyspark.sql.functions import *

# spark_session = SparkSession.builder.enableHiveSupport().appName("artefact_attribution_analysis") \
#     .config("spark.driver.memory","50g") \
#     .config("spark.pyspark.driver.python","/usr/bin/python2.7")\
#     .config("spark.pyspark.python","/usr/bin/python2.7") \
#     .config("spark.yarn.executor.memoryOverhead","8G") \
#     .getOrCreate()
# hc = HiveContext(spark_session.sparkContext)

In [4]:
# ##using touch_id table
# id_mapping = hc.sql('select * from marketing_modeling.dw_touchpoints_id_system')
# id_mapping = id_mapping.toPandas()
# id_mapping.to_csv('id_mapping.csv')

In [5]:
id_mapping = pd.read_csv('id_mapping.csv').drop(columns = ['Unnamed: 0'])

In [6]:
id_mapping.head()

,touchpoint_id,touchpoint_name,touchpoint_level,is_inbound,touchpoint_owner,touchpoint_channel,data_source,level_1,level_2,level_3,level_4,level_1_name,level_2_name,level_3_name,level_4_name
0,003001003008_tp,展厅首页 - 优选网点-查看更多,4,1,1,1,app,003000000000_tp,003001000000_tp,003001003000_tp,003001003008_tp,线上展厅访问,APP展厅访问,展厅首页核心按钮点击,展厅首页 - 优选网点-查看更多
1,003001003009_tp,展厅首页 - 优选网点-电话,4,1,1,1,app,003000000000_tp,003001000000_tp,003001003000_tp,003001003009_tp,线上展厅访问,APP展厅访问,展厅首页核心按钮点击,展厅首页 - 优选网点-电话
2,003001003010_tp,展厅首页 - 金融服务,4,1,1,1,app,003000000000_tp,003001000000_tp,003001003000_tp,003001003010_tp,线上展厅访问,APP展厅访问,展厅首页核心按钮点击,展厅首页 - 金融服务
3,003001003011_tp,展厅首页 - 订购入口,4,1,1,1,app,003000000000_tp,003001000000_tp,003001003000_tp,003001003011_tp,线上展厅访问,APP展厅访问,展厅首页核心按钮点击,展厅首页 - 订购入口
4,003001003012_tp,展厅首页 - 最近活动,4,1,1,1,app,003000000000_tp,003001000000_tp,003001003000_tp,003001003012_tp,线上展厅访问,APP展厅访问,展厅首页核心按钮点击,展厅首页 - 最近活动

In [7]:
df = pd.read_csv('/home/mam_jupyter/jupyter_dir/artefact/attribution/tp_analysis/tp_analysis_base.csv',sep = '\t',header = None)

In [8]:
df.head()

,0,1,2,3,4,5,6,7
0,13000000133,002011005007_tp,2020-10-28 11:16:45,1,NaN,NaN,NaN,NaN
1,13000001122,009002001000_tp,2020-09-11 11:08:51,17,2020-09-10 16:42:19,009002007000_tp,17.0,-1.0
2,13000009999,009002003000_tp,2020-07-03 22:32:36,25,2020-06-30 22:23:49,009002001000_tp,25.0,-3.0
3,13001035033,002009001003_tp,2020-06-24 11:20:03,24,2020-06-23 08:42:48,002009001003_tp,24.0,-1.0
4,13001055006,002011005007_tp,2020-10-28 10:46:06,10,2020-10-20 13:39:53,002011001003_tp,10.0,-8.0

In [9]:
df = df.rename(columns = {0:'mobile',1:'touchpoint_id',2:'action_time'})

In [10]:
df = df[['mobile','action_time','touchpoint_id']]
df.head()

        mobile          action_time    touchpoint_id
0  13000000133  2020-10-28 11:16:45  002011005007_tp
1  13000001122  2020-09-11 11:08:51  009002001000_tp
2  13000009999  2020-07-03 22:32:36  009002003000_tp
3  13001035033  2020-06-24 11:20:03  002009001003_tp
4  13001055006  2020-10-28 10:46:06  002011005007_tp

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44510800 entries, 0 to 44510799
Data columns (total 3 columns):
 #   Column         Dtype
---  ------         -----
 0   mobile         int64
 1   action_time    object
 2   touchpoint_id  object
dtypes: int64(1), object(2)
memory usage: 1018.8+ MB

In [12]:
def preprocess(df):
    df.dropna(inplace = True)
    df['mobile'] = df['mobile'].astype('string')
    ##filter the uncleaned mobile
    df = df[df.mobile.str.contains('^1\d{10}$')]
    ##phone number of dealer to remove
    mobile_to_remove = pd.read_csv('mobile_to_remove.csv').drop(columns =[ 'Unnamed: 0'])
    mobile_to_remove_list = mobile_to_remove.mobile.unique()
    df = df[~df.mobile.isin(mobile_to_remove_list)]
    ##删除无效节点：005000000000_tp，004000000000_tp
    df = df[~df.touchpoint_id.isin(['005000000000_tp','004000000000_tp'])]
    return df

In [13]:
df = preprocess(df)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38801894 entries, 0 to 44510798
Data columns (total 3 columns):
 #   Column         Dtype
---  ------         -----
 0   mobile         string
 1   action_time    object
 2   touchpoint_id  object
dtypes: object(2), string(1)
memory usage: 1.2+ GB

In [15]:
##use toucpoint_name
df = df.merge(id_mapping[['touchpoint_id','touchpoint_name']], on = 'touchpoint_id')
df = df[['mobile','action_time','touchpoint_name']]

In [16]:
# link consumer journey
df = df.sort_values(['mobile', 'action_time'],ascending=[False, True])
df_paths = df.groupby('mobile')['touchpoint_name'].aggregate(lambda x: x.tolist()).reset_index()

In [17]:
df_paths.head()

,mobile,touchpoint_name
0,13000000003,"[销售代表跟进电话, 线上其他活动, 收到短信潜客主题, 销售代表跟进电话, 完全战败, 同意战败申请, 收到短信活动主题, 收到短信其他主题, 收到短信其他主题, SIS接通时长(0,10s), SIS接通时长[10s, 30s), SIS接通时长(0,10s), 收到短信战败主题, 收到短信战败主题]"
1,13000000004,"[SIS接通时长(0,10s), SIS外呼未接通]"
2,13000000005,"[销售代表跟进进入展厅, 线上其他活动, 收到短信潜客主题, 销售代表跟进电话, 完全战败, 同意战败申请, 收到短信其他主题]"
3,13000000008,"[收到短信其他主题, 收到短信其他主题, AI外呼未接通]"
4,13000000012,[收到短信其他主题]

In [18]:
def if_has_endpoint(touchpoint_id,list1):
    if touchpoint_id in list1:
        return 1
    else:
        return 0

def exclude_endpoint(touchpoint_id,list1):
    list1 = list1[:list1.index(touchpoint_id)]
    return list1

In [21]:
##只保留战败用户
df_paths['if_ever_failed'] = df_paths['touchpoint_name'].apply(lambda x:if_has_endpoint('完全战败',x))

In [22]:
df_paths.if_ever_failed.value_counts()

0    2513717
1     826064
Name: if_ever_failed, dtype: int64

In [23]:
df_paths = df_paths[df_paths.if_ever_failed == 1][['mobile','touchpoint_name']]
df_paths.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 826064 entries, 0 to 3339778
Data columns (total 2 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   mobile           826064 non-null  object
 1   touchpoint_name  826064 non-null  object
dtypes: object(2)
memory usage: 18.9+ MB

In [25]:
##产生战败唤醒的标签
df_paths['if_activated'] = df_paths['touchpoint_name'].apply(lambda x:if_has_endpoint('战败唤醒',x))
df_paths.if_activated.value_counts()

0    672666
1    153398
Name: if_activated, dtype: int64

In [26]:
df_paths.loc[df_paths.if_activated == 1,'touchpoint_name'] = df_paths.loc[df_paths.if_activated == 1,'touchpoint_name'].apply(lambda x:exclude_endpoint('战败唤醒',x))
df_paths = df_paths[df_paths['touchpoint_name'].str.len() > 0]

In [27]:
df_paths.if_activated.value_counts()

0    672666
1    153398
Name: if_activated, dtype: int64

In [28]:
df_paths.head()

,mobile,touchpoint_name,if_activated
0,13000000003,"[销售代表跟进电话, 线上其他活动, 收到短信潜客主题, 销售代表跟进电话, 完全战败, 同意战败申请, 收到短信活动主题, 收到短信其他主题, 收到短信其他主题, SIS接通时长(0,10s), SIS接通时长[10s, 30s), SIS接通时长(0,10s), 收到短信战败主题, 收到短信战败主题]",0
2,13000000005,"[销售代表跟进进入展厅, 线上其他活动, 收到短信潜客主题, 销售代表跟进电话, 完全战败, 同意战败申请, 收到短信其他主题]",0
134,13000001000,"[线索首触-地域, 线索首触-品牌, 名爵官网试乘试驾, 销售代表跟进邀约, 销售代表跟进展厅接待, 完全战败, 同意战败申请, AI外呼未接通, AI外呼未接通, AI外呼未接通, AI外呼未接通, AI外呼未接通, AI外呼未接通, AI外呼未接通, AI外呼未接通, AI外呼未接通, AI外呼未接通]",0
135,13000001110,"[汽车之家采买, 线索首触-地域, 线索首触-品牌, 销售代表跟进邀约, 销售代表跟进邀约, 销售代表跟进邀约, 销售代表跟进电话, 同意战败申请, 销售代表跟进展厅接待, 同意战败申请, 销售代表跟进电话, 完全战败, 同意战败申请, SIS外呼未接通, SIS外呼未接通, 收到短信其他主题]",0
137,13000001123,"[线索首触-地域, 线索首触-品牌, 天猫, 销售代表跟进邀约, 论坛, 销售代表跟进邀约, 销售代表跟进展厅接待, 完全战败, 同意战败申请, 收到短信其他主题, AI外呼未接通, AI外呼未接通]",0

In [30]:
## generate label for all touchpoint_id
touchpoint_list = df.touchpoint_name.unique()
for i in touchpoint_list:
    tmp = '{}'.format(i)
    df_paths[tmp] = df_paths['touchpoint_name'].apply(lambda x:if_has_endpoint(i,x))

In [31]:
df_paths.head()

,mobile,touchpoint_name,if_activated,汽车之家采买,销售代表跟进电话,销售代表跟进其他,销售代表跟进进入展厅,团购促销类,销售代表跟进展厅接待,同意战败申请,...,浏览H5文案,KBU活动集客-大屏,其他活动参与,一键留资,工商银行,社交渠道,地区性网站,支付宝注册,平安租赁,抖音
0,13000000003,"[销售代表跟进电话, 线上其他活动, 收到短信潜客主题, 销售代表跟进电话, 完全战败, 同意战败申请, 收到短信活动主题, 收到短信其他主题, 收到短信其他主题, SIS接通时长(0,10s), SIS接通时长[10s, 30s), SIS接通时长(0,10s), 收到短信战败主题, 收到短信战败主题]",0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,13000000005,"[销售代表跟进进入展厅, 线上其他活动, 收到短信潜客主题, 销售代表跟进电话, 完全战败, 同意战败申请, 收到短信其他主题]",0,0,1,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
134,13000001000,"[线索首触-地域, 线索首触-品牌, 名爵官网试乘试驾, 销售代表跟进邀约, 销售代表跟进展厅接待, 完全战败, 同意战败申请, AI外呼未接通, AI外呼未接通, AI外呼未接通, AI外呼未接通, AI外呼未接通, AI外呼未接通, AI外呼未接通, AI外呼未接通, AI外呼未接通, AI外呼未接通]",0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
135,13000001110,"[汽车之家采买, 线索首触-地域, 线索首触-品牌, 销售代表跟进邀约, 销售代表跟进邀约, 销售代表跟进邀约, 销售代表跟进电话, 同意战败申请, 销售代表跟进展厅接待, 同意战败申请, 销售代表跟进电话, 完全战败, 同意战败申请, SIS外呼未接通, SIS外呼未接通, 收到短信其他主题]",0,1,1,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
137,13000001123,"[线索首触-地域, 线索首触-品牌, 天猫, 销售代表跟进邀约, 论坛, 销售代表跟进邀约, 销售代表跟进展厅接待, 完全战败, 同意战败申请, 收到短信其他主题, AI外呼未接通, AI外呼未接通]",0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [32]:
X = df_paths.drop(columns = ['mobile','touchpoint_name','if_activated'])
y = df_paths['if_activated']

In [34]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [35]:
X_train,X_test,y_train,y_test = train_test_split(X,y,stratify = y,random_state = 20)

In [36]:
clf = RandomForestClassifier(random_state = 20)
clf.fit(X_train,y_train)

RandomForestClassifier(random_state=20)

In [65]:
y_pred = clf.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.91      0.96      0.94    168166
           1       0.78      0.58      0.66     38350

    accuracy                           0.89    206516
   macro avg       0.85      0.77      0.80    206516
weighted avg       0.89      0.89      0.89    206516

In [57]:
#Create a DataFrame using a Dictionary
data={'feature_names':X_train.columns,'feature_importance':clf.feature_importances_}
fi_importance = pd.DataFrame(data).sort_values(by=['feature_importance'], ascending=False)

In [58]:
fi_importance.head()

        feature_names  feature_importance
15           收到短信其他主题            0.160768
13                金线索            0.100754
21           收到短信战败主题            0.042775
20  SIS接通时长[30s, 60s)            0.031301
10           销售代表跟进邀约            0.031072

In [60]:
fi_importance.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 236 entries, 15 to 220
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   feature_names       236 non-null    object
 1   feature_importance  236 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.5+ KB

In [61]:
fi_importance.to_csv('feature_importance.csv',index = False)